<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Post new Message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Your message</ion-label>
        <ion-input [(ngModel)]="post.text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Image URL:</ion-label>
        <ion-input [(ngModel)]="post.imageUrl"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">To:</ion-label>
          <ion-select [(ngModel)]="post.to">
            <ion-select-option value="Everyone">Everyone</ion-select-option>

            <ion-select-option *ngFor="let friend of myFriends" [value]="friend.name">{{friend.name}}</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-button (click)="sendMessage()" expand="block" color="primary">Submit Post</ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>
