<ion-header>
  <ion-toolbar color="success">

    <ion-buttons slot="primary">
      <ion-icon name="funnel-outline"></ion-icon>
      <ion-select [(ngModel)]="friendFilter" name=:friendFilter>
        <ion-select-option value="Everyone">Everyone</ion-select-option>
        <ion-select-option *ngFor="let friend of myFriends" [value]="friend.name">{{friend.name}}</ion-select-option>
      </ion-select>
    </ion-buttons>


    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  

  <ion-card *ngFor="let message of getMessagesToDisplay()" [class.my-message]="message.from == shared.userName">

    <ion-card-content *ngIf="message.imageUrl">
      <img src="{{message.imageUrl}}">
    </ion-card-content>


    <ion-card-header>
      <ion-card-title>{{ message.from }}</ion-card-title>
      <ion-card-subtitle>{{ message.text }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
